@import "tailwindcss";

body{
    background-color: var(--theme-bg-color);
}

:root{
    --theme-bg-color : #0f172b;
    --theme-text-color: #90a1b9;
    --theme-border-color : #314158;
}

@theme {
  --font-code: "Fira Code", monospace;
  --color-theme: var(--theme-bg-color);
  --color-theme-foreground: var(--theme-text-color);
  --color-theme-border-color : var(--theme-border-color);

}
html, body {
  font-family: var(--font-code);
  color: var(--theme-text-color);
}



/* mui overridden  */
.MuiAccordion-rounded {
  background: none !important;
  font-family: var(--font-code) !important;
  color: var(--theme-text-color) !important;
  h1,h3,h2,h4,h5,h6,p,button,span,p{
    color: var(--theme-text-color) !important;
    font-family: var(--font-code) !important;
    font-size: 15px;
  }
}
.Mui-expanded{
  min-height: unset !important;
}
.MuiAccordionSummary-content.Mui-expanded{
  margin: 12px 0 !important;
}
h3.MuiAccordion-heading .MuiButtonBase-root{
  border-bottom:1px solid var(--theme-border-color);
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 6px;
  gap: 8px;
  span{
    color : white !important;
  }
}
.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0px 0 !important;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded{
  border-bottom:1px solid var(--theme-border-color);
}

.code-editor-icons{
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
}

nav a.active {
    color: white !important;
    border-bottom: 2px solid yellow;
}
.MuiAccordionDetails-root {
    padding: 10px 10px 10px !important;
}

.MuiAccordionDetails-root ul li a {
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-column{
  flex-direction: column;
}
.flex-column-reverse{
  flex-direction: column-reverse;
}



.sub-menu-item>.close-btn {
    visibility: hidden;
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-weight: 600;
  }


  .sub-menu-item:hover{
    .close-btn{
      visibility: visible;
      cursor: pointer;
    }
    .close-btn:hover{
      background: radial-gradient(red, rgb(80, 3, 3));
      color : white;
    }
  }

  ul.project-list{
    li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
      input{
        height: 20px ;
        width: 20px;
        border: 1px solid var(--theme-border-color);
        background: transparent;
      }
    }
    
  }
  .main-container{
    max-height: calc(100% - 85px);
    overflow: auto;
  }

  ::-webkit-scrollbar{
    background-color: transparent;
    border: 1px solid var(--theme-border-color);
    width: 15px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--theme-border-color);
    width: 10px;
  }
  .code-container {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 16px;
  border-radius: 8px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  overflow: auto;
  height: 300px;
  border: 1px solid #333;
}

.code-line {
  display: flex;
}

.line-number {
  width: 40px;
  text-align: right;
  padding-right: 12px;
  color: #555;
  user-select: none;
}

.line-content {
  white-space: pre-wrap;
}
.keyword {
  color: #c586c0;
}

.number {
  color: #b5cea8;
}

.string {
  color: #ce9178;
}

.comment {
  color: #6a9955;
}

.function {
  color: #dcdcaa;
}
.super-glow{
  .glow{
      position: absolute;
    left: 20%;
    width: 60%;
    padding: 30% 0;
    transform: translate(0, -70%) rotate(-45deg);
    background: radial-gradient(circle at left bottom, #e6b7fe 10%, #5049c2 20%, rgba(87, 78, 255, 0) 60%);
    filter: blur(40px);
}
.particles {
    position: absolute;
    left: 30%;
    width: 40%;
    transform: translate(0, -40%);
}
}
.right-home-content{
  position: relative;
}
.super-background {
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    /* background: hsla(0,0%,100%,.06); */
    /* border-top: 1px solid hsla(0,0%,100%,.6); */
    opacity: .6;
    .glow{
          position: absolute;
          filter: blur(60px);
          width: 80%;
          height: 40%;
          top: 50%;
          left: 10%;
          border-radius: 50%;
          background: radial-gradient(#a7a2ff 30%, rgba(147, 80, 255, 0.5));
    }
    .glass{
          position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(0deg, #5993d4 0%, rgba(120, 115, 203, 0.2) 40%); */
    opacity: .3;
    border-radius: 5px;
    }
}

.wrapper-content{
  transition: opacity .8s cubic-bezier(0.165, 0.84, 0.44, 1),transform .8s cubic-bezier(0.165, 0.84, 0.44, 1);
     
}

.wrapper-main-content{
   /* position: relative;
   top:8%;
   left: 15%;
    display: flex;
    width: 70%;
    height: 80%;
    padding: 1rem; */
    background: hsla(0,0%,100%,.2);
    /* border: 1px solid var(--theme-border-color);
    border-radius: 10px;    */
}

.wrapper-main-content::before {
    content: "";
    position: absolute;
    top: 38%;
    right: 0;
    width: 100%;
    height: 67%;
    background-image: linear-gradient(221deg, #8a7cee, #242853);
    filter: blur(30px);
}
/* 
.wrapper-main-content::after {
    width: 90%;
    height: 40%;
    left: 5%;
    top: -10%;
    content: "";
    position: absolute;
    top: -5%;
    left: 10%;
    width: 80%;
    height: 30%;
    z-index: 0;
    border-radius: 50%;
    background: radial-gradient(#ffc58b 10%, #e1a6ff 20%, #e1a6ff 30%, #352cee 60%);
    filter: blur(40px);
    mix-blend-mode: color-dodge;
    transition: opacity 1s 1s;
} */

.MuiAccordion-region {
  h3.MuiAccordion-heading .MuiButtonBase-root {
    border: none !important;

    span{
      color : unset !important;
      margin: unset !important;
    }
    span.MuiAccordionSummary-expandIconWrapper{
      color : lightgoldenrodyellow !important;
      svg{
        width: 15px;
        height: 15px;
      }
      
    }
    
}
.Mui-expanded{
  border: none !important;
}
  button.MuiButtonBase-root {
      padding: 0px;
      min-height: unset;
  }
}
.project-card{
  height:calc(100% - 35px);
}